body {
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h1 {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-weight: bold;
}

p {
  font-size: 16pt;
}


a.hashlink {
  text-decoration: none;
  color: inherit;
}

.narrative h1 {
  font-size: 22pt;
  padding-left: 0.5em;
  margin-top: 0.1em;
}



.slide {
  border: 2px solid gray;
  width: 90%;
  margin: 30px;
  padding: 30px;
}

li.charred {
  color: rgba(0,0,0,0.6);
}

li.active {
  color: rgba(0,0,0,1);
  text-decoration: underline;
}

li.fresh {
  color: rgba(0,0,0,0.2);
}
